
/* Overall Interface */

.sort-directions-box legend span.ui-icon{
    display:inline-block;
}


.sort-directions-box legend span.sort-directions-text {
    font-size:16px;
    position:relative;
    top:-1px;
    cursor:pointer;
}

.sort-directions-box legend {
    margin-left:20px;
}

.sort-directions-box.sort-directions-visible {
    border:1px solid #d3d3d3;
    border-radius:15px;
}

.sort-drag-interface {
    width:80%;
    border:1px solid #d3d3d3;
    border-radius:15px;
    padding:10px;
    margin: 10px auto;
}

.sort-drag-interface li {
  list-style-type:none;
}

.sort-drag-interface .fitem .felement {
	margin-left: 0;
	width: 100%;
	text-align: center;
}

#page-mod-sort-problem .mform .fitem .fitemtitle {
	 display: none; 
}
/* Top Gallery (id = sort-gallery) */

#sort-gallery { 
	 width: 100%;
	 min-height: 300px;
     position:relative;
}
  

#sort-gallery .sort-studentwork {
    position:absolute;
    top:0;
}

.sort-next-button {
    display:none;
}

#sort-gallery li a.ui-icon-magnifying,
#sort-gallery .sort-next-button {
    display:block;
    position:absolute;
    bottom:10px;
    right:10px;
    background-color:#eee;
    border-radius:5px;
}



#sort-gallery li a.ui-icon-magnifying {
    right: 60px;
}

#sort-gallery li.sort-gallery-end-message {
    line-height:200px;
    font-size:30px;
}
	
#sort-gallery .sort-studentwork {
  width: 100%;
  height:300px;
  margin: 0 0.4em 0.4em 0;
  text-align: center;
  overflow:scroll;
  
}

.sort-gallery-end-message p {
    text-align:center;
}

#sort-gallery .sort-actions-list {
    position: absolute;
    right: 0px;
    top: 20px;
    text-align: left;
    background-color: #EEE;
    padding:10px;
    padding-left: 30px;
    border-radius: 5px;
    width: 150px;
    margin-left:-10px;
}

.jsenabled #sort-gallery .sort-actions-list {
    display:none;
}

.sort-drag-interface #sort-gallery .sort-actions-list li {
    list-style-type: disc;    
}


/* All sort galleries (including categories) */
.sort-gallery.custom-state-active {
    background: #eee;
}

.sort-gallery li h5 {
  margin: 0 0 0.4em;
  cursor: move;
}

.sort-gallery .sort-studentwork > a {
  float: right;
}

.sort-gallery li a.ui-icon-zoomin {
  float: left;
}

.sort-gallery li img {
  /* width: 100%; */
  cursor: move;
}


.sort-category {
  
  margin:20px .5%;
  width: 18%;
  height:14em;
  border-width:1px;
  display: inline-block;
  vertical-align:bottom;
  overflow-y:auto;
} * html .sort-gallery { height: 18em; } /* IE6 */

.sort-category h4 {
  line-height:1.2em;
  margin: 0 0 0.4em;
  height: 2.4em;
  text-align:center;
  /* text-transform:capitalize; */
  padding:4px;
  overflow:hidden;
  font-size: .9em;
}



.jsenabled .sort-category .sort-studentwork {
    width:48px;
    height:3em;
    float:left;
    margin-left:5px;
}

.sort-category h4 .ui-icon {
  float: left;
}

.sort-category li > img {
  display: none;
}

.jsenabled .sort-category .sort-actions-list {
    display:none;
}

#category-container {
    text-align:center;
}


.sort-drag-interface fieldset.felement.fgroup {
    width:100%;
}


/* Styles for other parts of the module */
#sortintro {
	border: none;
	padding: 0;
}

.sort-student-work-pager {
    margin:0;
    padding:0;
    text-align:center;
}

.sort-student-work-pager  ul li {
    display:inline;
    
}

.sort-student-work-pager ul li:before {
    content:" | ";
}


.sort-student-work-pager ul li:first-child:before {
    content: "";
}

li.sort-pager-link-1:before {
	content:"";
}

.sort-pager-current a:link,
.sort-pager-current a:hover,
.sort-pager-current a:visited,
.sort-pager-current a:active{
    color:navy;
    font-weight:bold;
}

.sort-manage-form-wrapper {
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    padding: 20px;
    margin-top: 10px;
}

.sort-delete-link {
    float: right;
}
/* Student work View page */
.sort-student-work-wrapper{
    margin-top:5px;
    padding:15px 30px 5px 30px;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    text-align: left;
}

.sort-no-work-wrapper {
	margin-top:5px;
    padding:30px 30px 30px 10px;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    text-align: left;
}

.sort-no-work-wrapper h2 {
	text-align: center;
	margin: 20px 0 40px 0;
}

.sort-student-work-wrapper .fitem .fsubmit{
	margin-left: 0;
	width: 100%;
}
.sort-work-sample-wrapper {
	margin-top: 10px;
}

.sort-work-sample {
 	height: 250px;
    margin: 0 auto .4em auto;
    overflow: auto;
    text-align: center;
    width: 80%;
	/*
height: 200px;
	overflow: auto;
	width: 100%;
	text-align: center;
*/
}

.sort-work-sample img {
	width: 100%;
}

.sort-user-classification-wrapper,
.sort-others-classification-wrapper {
    display:inline-block;
    width:50%;
    margin:0;
    padding:0;
    vertical-align:top;
}

.sort-others-classification-wrapper {
    border-left:1px solid #d3d3d3;
    margin-left:-1px;    
}

 .sort-classification-wrapper h3 {
    border-bottom:1px dashed #d3d3d3;
    display:inline-block;
}

.sort-others-table {
     margin:5px;
}

.sort-classification-wrapper {
    border:1px solid #d3d3d3;
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
    margin-top:20px;
}

.sort-user-classification,
.sort-others-classification {
    padding:20px;
}
.sort-user-classification-wrapper p,
.sort-others-classification-wrapper p {
    text-transform: capitalize;
}

.sort-studentwork-comments {
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
    border-bottom:1px solid #d3d3d3;
    padding:10px 25px;
     border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}

#sort-filter-container {
    text-align:left;
    padding-bottom:5px;
    border-bottom:1px dashed #d3d3d3;
    margin-bottom:10px;
}

.sort-studentwork-comment-form {
    padding:15px 0 0 15px;
    border:1px solid #d3d3d3;
    border-top:0px;
}

.sort-comment-box {
    padding:5px 20px;
    background-color: #FAF9ED;
    border:2px solid #d3d3d3;
    text-align:left;
    margin-top:-2px;
    
}


.sort-comment-username {
    margin-bottom:5px;
    display:inline-block;
    border-bottom:1px dashed #d3d3d3;
}



.sort-my-scores-table {
    margin:10px auto;
    border-collapse: collapse;
    border:1px solid #ADACAC;
}

.sort-my-scores-table td{
    border:1px solid #ADACAC;
    vertical-align: top;
    text-align: center;
}
.sort-my-scores-table th {
    background-color: #E0E0E0;
    vertical-align: top;
    border:1px solid #ADACAC;

}

#page-mod-sort-problem #page-header,
#page-mod-sort-studentwork #page-header,
#page-mod-sort-allscores #page-header {
	display: none;
}

.sort-problem-wrapper  {	
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding: 25px 25px 5px 25px;
	border: 1px solid #d3d3d3;
	border-radius: 10px;
}

.sort-problem-wrapper .fgroup {
	text-align: center;
	
}

.sort-problem-wrapper .fitem  {
	margin-top: 20px;	
}

.sort-problem-wrapper .fitem .fitemtitle {
	width: 25%;	
}

.sort-problem-wrapper .fitem .felement {
	width: 70%;
	margin-left: 26%;	
}

.sort-problem-list {
    margin-left: 20px;
}

.sort-problem-list ul {
    display:inline-block;
    margin-top: 0;
}

.sort-action-links {
    margin: 20px auto;
    text-align: center;
}

.sort-action-links span {
    padding: 3px 10px;
    margin: 0 5px;
    border: 1px solid #eeeeee;
    background-color: #FAF4D9;
    border-radius: 10px;
}

.sort-action-links span:hover {
	background-color: #eeeeee;
}

.sort-my-scores-table .category {
	background-color: #eeeeee;
}
.sort-my-scores-table .sort-right-border {
    border-right:2px solid black;
}

.sort-my-scores-table .sort-left-border {
    border-left: 2px solid black;
}


.ui-widget-content .ui-icon.ui-icon-magnifying {
    background-image: url(images/magnify-48.png);
    width:48px;
    height:48px;
}

.ui-widget-content .ui-icon.ui-icon-next-arrow {
    background-image: url(images/next-arrow-48.png);
    width:48px;
    height:48px;
}

.sort-category .ui-widget-content .ui-icon.ui-icon-magnifying {
    background-image: url(images/magnify-small.png);
    width:32px;
    height:32px;
}

.sort-directions-box .ui-icon-magnifying {
    background: url(images/magnify.png) left no-repeat;
    padding-left: 40px;
    line-height: 3em;
    margin-left: 30px;
}

.sort-directions-box .ui-icon-next-arrow {
    background: url(images/next-arrow.png) left no-repeat;
    padding-left: 40px;
    line-height: 3em;
    margin-left: 30px;
}

.sort-explanation-triangle {
    display:inline-block;
}

.sort-comment-form-open {
    border:1px solid #d3d3d3;
}

.sort-studentwork-comment-form-body {
    margin-bottom:20px;
    margin-right:20px;
}

.sort-studentwork-comment-form-header {
    cursor:pointer;
}

.sort-examples-accordion .ui-accordion-header {
    padding-left:30px;
}

.sort-examples-accordion-body img {
    /*width:100%;*/
}

.sort-examples-accordion {
    padding-top: 5px;
}

.sort-category-add-box {
    
    margin-top:60px;
}

.sort-category-info {
    border:1px solid black;
    margin-bottom:20px;
    padding:10px;
}

.sort-is-correct {
    background:#f8fff0;
    border:3px solid #bbee77;
}

/* Nobody likes red :( */
/*.sort-is-not-correct {
    background:#fef5f1;
    border: 3px solid #ed541d;
}*/

.sort-attribution {
    text-align:center;
}

.sort-grade-user-box {
    border:2px solid black;
    margin:10px;
    padding:10px;
}

#correct-key {
    padding:20px;
    margin:10px auto;
    width:300px;
}